@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap");

/*font-family: 'Roboto Condensed', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

/*font-family: 'Inter', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap");

/*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ul li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

body {
  display: block;
  width: 100%;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

p,
ul.content-list li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 10px;
  color: #000000;
}

p.img-caption {
  font-size: 16px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 40px;
}

header {
  background: #fff;
  margin-bottom: 15px;
}

header .top {
  display: flex;
  align-items: center;
  background: #fc5102;
  min-height: 120px;
}

header .top .logo {
  display: block;
  width: 100%;
  max-width: 642px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-ul li {
  padding: 16px 18px;
  position: relative;
}

.menu-ul li::after {
  content: " ";
  height: 25px;
  width: 0px;
  background: #c0c0c0;
  border-right: 0.75px solid #c0c0c0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-ul li:last-child {
  padding-right: 55px;
}

.menu-ul li:last-child::after {
  content: none;
}

.menu-ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.search {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding: 16px 30px 16px 0;
  color: #000000;
}

.search::after {
  content: " ";
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(loupe.html) no-repeat;
  background-size: contain;
  right: 0px;
}

.content {
  background: #fff;
  padding: 30px 50px;
}

.current-category {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 22px;
  color: #f72210;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  margin: 11px 0;
  color: #000000;
}

.post-date {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 31px;
  position: relative;
  padding: 0 7px;
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
}

.post-date::before {
  content: " ";
  height: 14px;
  width: 0;
  border-left: 0.75px solid #000000;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.post-date::after {
  content: " ";
  height: 14px;
  width: 0;
  border-right: 0.75px solid #000000;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.categories {
  margin-top: 15px;
}

.categories ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.categories ul li {
  background: #c0c0c0;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15em;
  padding: 5px 14px;
  color: #ffffff;
  margin-right: 13px;
  margin-bottom: 5px;
}

.categories ul li.current {
  background: #f72210;
}

.categories ul li:last-child {
  margin-right: 0;
}

.content .image {
  display: block;
  margin: 40px auto;
  /* border-top: 5px solid #f72210; */
}

.content .image.horizontal {
  width: 100%;
  max-width: 800px;
}

.content .image.vertical {
  width: 100%;
  max-width: 410px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.social span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-right: 40px;
  color: #000000;
}

.social img {
  width: 41px;
  height: 41px;
  margin-right: 40px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin: 35px 0;
  padding-left: 30px;
  color: #000000;
  position: relative;
  border-left: 7px solid #f72210;
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #f72210;
}

h1.jour-q {
  font-size: 20px;
  line-height: 29px;
}

.table-title b {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  padding: 5px 10px;
  background: #f72210;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  z-index: 2;
  text-align: center;
}

.table-title {
  position: relative;
}

.table-title::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #f2f2f2;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-title b,
.graph,
.label {
  display: block;
  width: 100%;
  max-width: 540px;
  margin: 40px auto;
}

.label {
  margin: 35px auto;
}

.label li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 25px;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graph {
  height: 325px;
}

.square1,
.square2 {
  height: 25px;
  width: 25px;
  margin-right: 8px;
  display: inline-block;
}

.square1 {
  background-color: #b8b8b8;
}

.square2 {
  background-color: #1202f7;
}

.graph tbody {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
  column-gap: 10%;
  align-items: end;
  height: 100%;
  margin: 3em 0 1em 2.8em;
  padding: 0;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  background: repeating-linear-gradient(
    180deg,
    #f2f2f2 0,
    #f2f2f2 0 1px,
    transparent 1px,
    transparent 20%
  );
}

.graph tbody:before,
.graph tbody:after {
  position: absolute;
  left: -3.2em;
  width: 2.8em;
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.WeightConsistently tbody:before {
  content: "100%";
  top: -1em;
}

.WeightConsistently tbody:after {
  content: "0%";
  bottom: -1em;
}

.graph tbody th {
  position: absolute;
  top: -3em;
  left: 0;
  width: 100%;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  text-indent: 0;
  transform: rotate(-45deg);
}

.graph tr {
  position: relative;
  display: block;
}

.graph tr:hover {
  z-index: 999;
}

.graph tr:hover {
  opacity: 0.7;
}

.graph th,
.graph td {
  display: block;
  text-align: center;
}

.graph td {
  width: 100%;
  height: 100%;
  border-radius: 0.5em 0.5em 0 0;
  transition: background 0.5s;
}

.graph td span {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  width: 100px;
  color: #ffffff;
  transition: opacity 0.5s;
}

.AveragePounds tbody::before,
.AverageMineral tbody::before {
  content: "Pounds";
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  position: absolute;
  top: 46%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

.AverageWeightLoss tbody::before {
  content: "Average Pounds Lost After 1 Month";
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  width: 325px;
  position: absolute;
  top: 45%;
  text-align: center;
  left: -11em;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

.AverageWeightLossPercentage tbody::before {
  content: "% Who Lost Over 30 Pounds After 1 Month";
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 325px;
  line-height: 32px;
  color: #000000;
  position: absolute;
  top: 45%;
  text-align: center;
  left: -11em;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

.SideEffects tbody::before {
  content: "% Who Experienced Side Effects";
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 325px;
  line-height: 32px;
  color: #000000;
  position: absolute;
  top: 45%;
  text-align: center;
  left: -11em;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.prod-img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0px auto;
}

.coupon {
  width: 100%;
  margin: 40px auto 10px;
  position: relative;
}

.coupon span {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 2;
}

.coupon::before {
  content: "";
  display: block;
  height: 0;
  border-bottom: 2px dashed #919191;
  width: 100%;
  background: #f2f2f2;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coupon::after {
  content: " ";
  width: 50px;
  height: 37px;
  background: url(scissors.html) no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  right: 20px;
  z-index: 2;
}

.claim-now {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #f72210;
  text-align: center;
}

.note {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 20px auto 10px;
  padding: 5px 0;
  background: yellow;
}

.stock-update img {
  width: 18px;
  margin-right: 5px;
}

.stock-update {
  border: 1px dotted #000;
  background: #effff7;
  padding: 4px 9px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.stock-update p {
  margin: 0;
}

.stock-update span {
  color: #dc3545;
}

.order-block {
  padding: 20px;
  border: 1px dotted #000;
  background: #effff7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.order-block-img {
  width: 30%;
  max-width: 300px;
  margin: 0 auto;
}

.order-block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.order-block-text p {
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.order-block-text .note {
  margin: 10px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  padding: 5px 15px;
}

.button {
  display: block;
  background: rgb(222, 116, 116);
  background: -moz-linear-gradient(
    180deg,
    rgba(222, 116, 116, 1) 0%,
    rgba(247, 34, 16, 1) 60%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(222, 116, 116, 1) 0%,
    rgba(247, 34, 16, 1) 60%
  );
  background: linear-gradient(
    180deg,
    rgba(222, 116, 116, 1) 0%,
    rgba(247, 34, 16, 1) 60%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de7474", endColorstr="#f72210", GradientType=1);
  text-align: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 15px auto;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 15px;
  color: #fff;
}

.checkmark {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #f72210;
  text-align: center;
  padding-left: 30px;
  position: relative;
}

.checkmark::before {
  content: " ";
  width: 30px;
  height: 29px;
  background: url(checkmark2.html) no-repeat;
  background-size: contain;
  position: absolute;
  left: 5px;
  top: -11px;
}

ul.content-list {
  margin: 20px 0px;
}

ul.content-list li {
  list-style: disc inside;
}

.review {
  margin: 20px auto;
  width: 100%;
}

img.content-ava {
  float: left;
  width: 140px;
  margin-right: 15px;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 1150px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .order-block {
    flex-direction: column;
  }
  .order-block-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .order-block-text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  img.content-ava {
    width: 80px;
    margin-right: 10px;
  }
  header {
    margin-bottom: 0;
  }
  header .top {
    padding: 0 20px;
    min-height: auto;
    max-height: 75px;
  }
  header .top .logo {
    max-width: 320px;
    font-size: 30px;
    line-height: 90px;
  }
  .content {
    padding: 30px 15px;
  }
  .current-category {
    display: none;
  }
  .title {
    font-size: 30px;
    line-height: 35px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .post-date {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
  }
  .categories ul li {
    font-size: 12px;
    line-height: 14px;
    margin-right: 5px;
    letter-spacing: 0.15em;
  }
  .content .image.horizontal,
  .content .image.vertical {
    max-width: 100%;
  }
  .content .image {
    margin: 35px auto;
    /* border-top: 4px solid #f72210; */
  }
  .social img {
    width: 27px;
    height: 27px;
    margin-right: 15px;
  }
  .social {
    padding: 12px 0;
  }
  .social span {
    font-size: 15px;
    line-height: 18px;
    margin-right: 20px;
  }
  p,
  ul.content-list li {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
  h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 45px;
    border-left: 4px solid #f72210;
    letter-spacing: -0.02em;
    padding-left: 15px;
  }
  .table-title b {
    font-size: 17px;
    line-height: 31px;
  }
  .table-title::before {
    display: none;
  }
  .table-title b,
  .graph,
  .label {
    max-width: 100%;
    margin: 25px 0;
  }
  .graph {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .graph tbody {
    margin-top: 0;
    margin-left: 2em;
  }
  .table-title {
    margin-top: 35px;
  }
  tbody::before,
  tbody::after {
    font-size: 12px !important;
    line-height: 22px !important;
  }
  .graph td span {
    font-size: 12px;
    line-height: 25px;
  }
  .coupon::before,
  .coupon::after {
    display: none;
  }
  .AverageWeightLoss tbody::before,
  .AverageWeightLossPercentage tbody::before,
  .SideEffects tbody::before {
    left: -15em;
  }
  .label li {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .stock-update img {
    display: none;
  }
  .button {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 400px) {
  .note,
  .order-block-text .note {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    padding: 5px;
  }
  .button {
    font-size: 24px;
    line-height: 30px;
  }
}

.doc {
  margin: 20px auto;
  margin-top: 0;
  display: block;
  padding: 10px;
  background: #ebebeb;
  width: 100%;
  max-width: 800px;
}

.doc .image {
  max-width: 300px;
  width: 100%;
  float: left;
  margin: 0;
  margin-right: 20px;
}
.upd {
  border-bottom: 4px solid #f3f3f3;
  border-top: 4px solid #f3f3f3;
  border-left: none;
  padding: 15px 0;
  padding-top: 30px;
  color: #ff5656;
}
.upd span {
  color: white;
  background-color: #f62210;
  margin-right: 2px;
  padding: 4px 10px;
  padding-bottom: 2px;
  padding-right: 9px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
}
.comments {
  display: block;
}
.comm {
  border-bottom: 4px solid #ff0000;
  border-left: none;
  display: inline-block;
  padding-left: 0;
}
.comment {
  display: block;
  margin: 15px auto;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

.comment.ans {
  margin-bottom: 0px;
  margin-top: 25px;
  padding-bottom: 0px;
  border-bottom: none;
  padding-left: 40px;
}

.comment .ava {
  max-width: 50px;
  width: 100%;
  float: left;
  border-radius: 50%;
}

.comment p {
  margin-left: 70px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.comment p.comm-date {
  color: #a8abae;
}

.comment .comm-img {
  max-width: 400px;
  width: 100%;
  margin-left: 70px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .comment .ava {
    margin-right: 10px;
  }
  .comment p,
  .comment .comm-img {
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .doc .image {
    float: none;
    display: block;
    margin: 10px auto;
  }
}

@media screen and (max-width: 330px) {
  header .top .logo {
    font-size: 26px;
  }
}

.image-with-description.horizontal {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 40px;
}

.image-with-description.vertical {
  display: block;
  width: 100%;
  max-width: 410px;
  margin: 0 auto 40px;
}

.image-with-description img {
  margin-bottom: 0 !important;
}

.image-with-description span {
  display: block;
  width: 100%;
  padding: 10px 5px;
  background: #f72210;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 600px) {
  .image-with-description.horizontal,
  .image-with-description.vertical {
    max-width: 100%;
  }
}

.order {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.order * {
  box-sizing: border-box;
}

.order .prod-img {
  display: block;
  margin: 20px auto;
}

.order-info h2 {
  color: red;
  font-size: 1.5em;
}

.order-info h2::after {
  display: none;
}

.order-info h2 span {
  text-decoration: underline;
}

.order-info .left_count {
  display: block;
  width: 178px;
  padding: 23px;
  margin: 12px auto;
  background: red;
  color: #fff;
  text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 32px !important;
  border-radius: 5px;
}

.order-info .prod_left_val {
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}

.order-info div h4 span {
  color: green;
}

.order-form {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  background: #fff url("formbg.jpg") no-repeat;
  background-size: 100% 100%;
}

.order-form .top {
  background-size: 100px auto;
}

.order-form .top h2 {
  margin: 25px 0 0;
  padding: 0;
  line-height: 32px;
  font-size: 30px;
  font-weight: 700;
}

.order-form .top h2:after {
  display: none;
}

.order-form .top p {
  font-size: 14px;
  color: #00f;
  font-style: italic;
  text-align: center;
}

.order-form .price p span {
  font-size: 21px;
  font-weight: 700;
  color: red;
}

.order-form .frame {
  margin: 10px 0;
  border: 2px solid #0299ff;
  padding: 10px;
}

.order-form .frame p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
}

.order-form .input-form {
  margin: 10px auto;
}

.order-form label {
  display: block;
  margin: 0 auto;
  padding: 5px 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.order-form input {
  width: 100%;
  max-width: 280px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left !important;
}

#orderSubmit {
  width: 100%;
  max-width: 280px;
  display: block;
  margin: 0 auto 10px;
  box-sizing: border-box;
}

.order-form p {
  font-size: 12px;
  margin: 0;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

.order-form button,
.obutton,
.submit-form {
  max-width: 280px;
  width: 100%;
  display: block;
  margin: 20px auto;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background: #0299ff;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#orderSubmit span {
  position: relative;
  top: 1px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.submit-form,
.of-site,
.comeback_layout .btn {
  animation: 1s pulse infinite alternate ease-in-out;
}

.comeback_wrapper {
  font-family: Arial;
  line-height: 20px;
}

.of-site {
  display: block;
}

.order-form button:hover,
.obutton:hover,
.submit-form:hover {
  background: #017acc;
  text-decoration: none;
  color: #fff;
}

.order-form button:disabled,
.obutton:disabled,
.submit-form:disabled {
  opacity: 0.5;
}

.order-form button:hover:disabled,
.obutton:hover:disabled,
.submit-form:disabled {
  background-color: #0299ff;
}

.order-form button:active,
.submit-form:active {
  position: relative;
  top: 1px;
}

.order-form .timelimit {
  font-size: 14px;
  margin: 0 0 10px;
}

.timer {
  display: inline-block;
  background: url("timerIcon2.png") no-repeat;
  padding-left: 14px;
  color: red;
  font-weight: 700;
  line-height: 15px;
}

@media screen and (max-width: 480px) {
  .order-form label {
    font-size: 14px;
  }

  .order-form {
    padding: 10px;
  }

  .order-form .order-input {
    margin: 2px;
  }
}

@media screen and (max-width: 459px) {
  #form2 {
    position: relative;
    top: 120px;
  }
}

.image_link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.image_link {
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

@media screen and (max-width: 349px) {
  .order-form .top h2 {
    margin: 0;
  }
}

.order-form *,
.order-form p {
  text-align: center !important;
}

.order-form .price p span.old {
  font-size: 18px;
  font-weight: 700;
  color: rgb(178, 178, 178);
  text-decoration: line-through;
}

.order-form .price p span.new {
  font-size: 22px;
  font-weight: 700;
  color: #0299ff;
}

.submit-form:after {
  display: inline-block;
  -webkit-animation: dotty steps(1, end) 1.5s infinite;
  animation: dotty steps(1, end) 1.5s infinite;
  content: "";
  position: absolute;
  margin-left: 10px;
}

@-webkit-keyframes dotty {
  0% {
    content: "";
  }

  25% {
    content: ">";
  }

  50% {
    content: ">>";
  }

  75% {
    content: ">>>";
  }

  100% {
    content: "";
  }
}

@keyframes dotty {
  0% {
    content: "";
  }

  25% {
    content: ">";
  }

  50% {
    content: ">>";
  }

  75% {
    content: ">>>";
  }

  100% {
    content: "";
  }
}

.order-form .top p {
  font-size: 14px;
  color: red;
  font-style: italic;
  text-align: center;
}

.order-form .frame p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  line-height: 1.5;
}

.buy-button-block-left {
  float: left;
  display: block;
  max-width: 320px;
}

.buy-button-block-left a {
  font-weight: bold;
  display: block;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  max-width: 350px;
  background: rgb(219, 32, 32) none repeat scroll 0% 0%;
  padding: 20px 20px 14px;
  /* border-width: medium medium 6px; */
  /* border-style: none none solid; */
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 6px;
  text-decoration: none;
  margin: 10px auto;
  border-bottom: 6px solid transparent;
  font: normal 15px/22px "RussiaLight", sans-serif;
  font-weight: bold;
}

.lnk,
.submit-form,
.content-right-recommend-middle-button {
  animation: 1s pulse infinite alternate ease-in-out;
}

.btn {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 10px;
  background: #f75710;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  transform: scale(1.1);
  background: #f72210;
  text-decoration: none;
  color: #fff;
}

.bot-btn {
  margin: 20px auto !important;
}

.message1 {
  font-size: 14px !important;
  line-height: 16px !important;
}
