.text-center{
	text-align: center;
}

.bg-bisque{
    background-color: bisque;
}

.pd-5{
		padding: 5%;
}


.button-pack-1{
	width:  90%;
	margin : 10px 10px 10px 10px;
	background-color: blue;
	display: inline-block;
	color: white !important	;
	font-weight: bold;

}