.order_info h4 {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0 auto 0px auto;
}

.order_info h2 {
    border: none!important;
    color: #F6412D;
}

.inL_271278 {
   
    font-size: 38px;
    color: #F6412D;
}

